@media screen and (max-width: 480px) {
	.mb_switch_bg_image{
		background: #ffffff url(https://image.info15.citi.com/lib/fe3915717564047a751178/m/2/43f762c2-6e1f-416a-85d2-308b1608fee6.jpg) 
		no-repeat bottom center/contain !important; 
		background-size: 100% 350px !important;  
		height: 350px !important;
	}	
	.card_size{width: 185px !important; height: 123px !important;}
	.hl_text1_mob{font-size: 24px !important; line-height: 28px !important;}	
	.center_text_list_item{ text-align: center !important;}

}


