.mb_switch_bg_image{
	background: #ffffff url(https://image.info15.citi.com/lib/fe3915717564047a751178/m/1/a8227173-e078-4d15-a244-a483df1a77e0.jpg) 
	no-repeat bottom center/contain !important;
	background-size: 100% 199px !important;  
	height: 199px !important;
}	
.mb_bg_image_height_container{height: 199px !important;}
.bg_img_mobile{height: 199px !important;}
.mb_height_container{height: 199px !important;}
.mb_height{height: 199px !important;}
