@media screen and (max-width: 480px) {
.mb_switch_bg_image{
	background: #ffffff url(https://image.info15.citi.com/lib/fe3915717564047a751178/m/2/ddf29a54-306b-4523-b0ba-fc7dccd69c55.jpg) 
	no-repeat bottom center/contain !important;
	background-size: 320px 359px !important;  
	height: 359px !important;
}	
.mb_bg_image_height_container{height: 359px !important;}
.bg_img_mobile{height: 359px !important;}
.mb_height_container{height: 359px !important;}
.mb_height{height: 359px !important;}
}
