
@media screen and (max-width: 480px) {
	.module_12_2_mb_change_bg{
		background: #ffffff url(https://image.s7.sfmc-content.com/lib/fe9713727563067977/m/1/ce85e96e-1727-4eb6-9956-ab822eb64fef.jpg) no-repeat bottom center/contain !important;
		background-size: 100% 217px !important;  
	}	
	.module_12_2_container_resize{
		height: 217px !important;
	}
	.module_12_2_left_spacer_resize{
		height: 37px !important;
	}
	.module_12_2_small_text{
		font-size: 4px !important;
		line-height: 6px !important;
	}
	.contenttable{
		display: block !important;
		width: 100% !important;
	}
	.contenttable5{
		width: 100% !important;
		max-width: 480px !important;
		display: block !important;
		margin: 0 auto !important;
		border: 1px solid black;
	}

	
	.img_responsive{
		width: 100% !important;
		max-width: 100% !important;
	}
	.blocktable{
		width: 100% !important;
		
	}
	.gblcontenttableList{
		width: 100% !important;
		border: 1px solid black;
	}
}
