@media screen and (max-width: 480px) {
	@import "bg_image";
	@import "r2c_offer_II";
	@import "r2c_offer_double";	
	.img_responsive{
		width: 100% !important;
		max-width: 100% !important;
	}
	.blocktable{
        width: 100% !important;
        display: block !important;
        max-width: 100% !important;
        margin: 0 auto !important;
    }
	
}
