
	// @import "bg_image";
	// @import "r2c_offer_II";
	// @import "r2c_offer_II_double";	
	// @import "hero2";
	// @import "r2c_check_table";
	@import "r2c_offer_II_double.scss";


@media screen and (max-width: 480px) {
	.img_responsive{
		width: 100% !important;
		max-width: 100% !important;
	}
	.blocktable{
        width: 100% !important;
        display: block !important;
        max-width: 100% !important;
        margin: 0 auto !important;
	}
	.f12{
		font-size: 12px !important;
		line-height: 16px !important;
	}
}
	