@media screen and (max-width: 480px) {
	.left_table_height_spacer{height: 180px !important;}
	.left_height_headline_container{height: 150px !important;}

	.table_mobile_resize{width: 320px !important;}
	.hero_card_left_spacer{width: 71px !important;}
	.hero_card_center_spacer{width: 179px !important;}
	.hero_card_resize{width: 179px !important; height: 113px !important;}
	.hero_card_right_spacer{width: 70px !important;}
	.hero_h1_text1_mob{font-size:14px !important; line-height: 18px !important;}

	.body_copy_mob{font-size:18px !important; line-height: 24px !important;}


	.item_list_title{font-size:15px !important; line-height: 17px !important;}
	.item_list_text{font-size:15px !important; line-height: 17px !important;}
	.gray_text_section_mob{font-size:17px !important; line-height: 21px !important;}

	.circle_card_title{font-size:24px !important; line-height: 28px !important; text-align: center !important;}

	.middle_card_table_resize{width: 284px !important;}
	.middle_card_left_spacer{width: 52px !important;}
	.middle_card_center_spacer{width: 178px !important;}
	.middle_card_resize{width: 178px !important; height: 113px !important;}
	.middle_card__right_spacer{width: 54px !important;}

	.mobile_line{width: 260px !important;}
	.h2_text2_mob{font-size: 24px !important; line-height: 28px !important; text-align: center !important;}
	.mb_center_text{text-align: center !important;}
}
