@media screen and (max-width: 480px) {
	.mb_check_table_td{width: 30% !important;}
	.f12{
		font-size: 12px !important;
		line-height: 16px !important;	}
	table.table_bordered td{ border-top: thin solid #0070a3;}
}
