@media screen and (max-width: 480px) {
	.mobile_box_1_padding { padding:0px 15px 15px 15px !important; }
	.mobile_box_2_padding { padding:0px 15px 0px 15px !important; }
	.mobile_line { width: 270px !important; }
	.no_border{ border: none !important; }
	.mb_height{height: auto !important;}
	.center_table{
		margin: 0 auto !important;
		text-align: center !important;
	}
}
